{extends file="admin-layout.tpl"}
{default_translation_domain domain='licence.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Licence'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}Licence{/block}

{block name="main-content"}

    {form name="Licence.update"}
        <div id="wrapper" class="container">

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="general-block-decorator">
                <div class="title title-without-tabs">
                    {intl l="Licence edit" d="licence.bo.default"}
                </div>

                <div class="form-container">
                    <form method="POST" action="{$current_url}" {form_enctype form=$form} class="clearfix" >

                        {include "includes/inner-form-toolbar.html"
                        close_url = {url path="/admin/module/Licence/Licence"}
                        }

                        {form_field form=$form field="id"}
                        {assign "Licence_id" $value}
                            <input type="hidden" name="{$name}" value="{$value}"/>
                        {/form_field}
                        {form_field form=$form field="success_url"}
                            <input type="hidden" name="{$name}" value="{url path='/admin/module/Licence'}/Licence"/>
                        {/form_field}
                        {form_hidden_fields form=$form}

                        {loop name="Licence_update" type="licence" backend_context="yes" id=$Licence_id lang=$edit_language_id}
                            <div class="row">
                                <div class="col-md-12">
                                    {form_field form=$form field="order_id"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="order_id"}{$message}{/form_error}

                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$ORDER_ID}" placeholder="{intl l='The Licence order_id'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="customer_id"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="customer_id"}{$message}{/form_error}

                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$CUSTOMER_ID}" placeholder="{intl l='The Licence customer_id'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="product_id"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="product_id"}{$message}{/form_error}

                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$PRODUCT_ID}" placeholder="{intl l='The Licence product_id'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="product_key"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="product_key"}{$message}{/form_error}

                                                <textarea class="form-control" name="{$name}" id="{$label_attr.for}" placeholder="{intl l='The Licence product_key'}">{$PRODUCT_KEY}</textarea>
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="active_machine"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="active_machine"}{$message}{/form_error}

                                                <textarea class="form-control" name="{$name}" id="{$label_attr.for}" placeholder="{intl l='The Licence active_machine'}">{$ACTIVE_MACHINE}</textarea>
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="expiration_date"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="expiration_date"}{$message}{/form_error}

                                                <div class='input-group date'>
                                                    <input type="text" class="form-control do-picker-date" name="{$name}" id="{$label_attr.for}" value="{$EXPIRATION_DATE}" placeholder="{intl l='The Licence expiration_date'}" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                        </div>
                                    {/form_field}

                                    {include "includes/inner-form-toolbar.html"
                                        hide_flags = true
                                        close_url = {url path="/admin/module/Licence/Licence"}
                                    }

                                </div>
                            </div>
                        {/loop}

                    </form>
                </div>
            </div>
        </div>
    {/form}
{/block}

{block name="javascript-initialization"}
    {javascripts file='assets/js/moment-with-locales.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        $('.do-picker-datetime').datetimepicker({
            lang: "{lang attr="code"}",
            useSeconds: false
        });

        $('.do-picker-date').datetimepicker({
            pickTime: false,
            lang: "{lang attr="code"}",
            useSeconds: false
        });

        $('.do-picker-time').datetimepicker({
            pickDate: false,
            lang: "{lang attr="code"}",
            useSeconds: false
        });
    </script>
{/block}