<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>Licence\Licence</fullnamespace>
    <descriptive locale="fr_FR">
        <title>Module gestion de licence</title>
    </descriptive>
    <!-- <logo></logo> -->
    <!--<images-folder>images</images-folder>-->
    <languages>
        <language>fr_FR</language>
    </languages>
    <version>1.0</version>
    <authors>
        <author>
            <name>Delimard Thibault</name>
            <email>support@delimard.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <!--
    module dependencies
    <required>
        <module version="&gt;=0.1">Front</module>
        <module version="~1.0">HookCart</module>
        <module version="&gt;0.2">HookSearch</module>
    </required>
    -->
    <thelia>2.2.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
